<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Komplett normale Busliste</title>
		<link href="/static/style.css" rel="stylesheet">
	</head>
	<body>
		<div id="center-container">
			<h1>Anmeldung</h1>

			{{#if flash}}
				<p id="message" class="highlight-positive" style="text-align: center;">{{flash}}</p>
			{{else}}
				<p>Nutze deine Email, um dich anzumelden.</p>
			{{/if}}

			<form method="post">
				<div id="login-div">
					<input type="text" name="email" required/>
					<label>Email</label>
					<button>Weiter</button>
				</div>
			</form>

			<p class="note">{{login_message}}</p>
			<p class="note">
				<a href="https://github.com/dorodere/komplett-normale-busliste">Open-Source unter der AGPL 3.0</a> &#x1F389;
			</p>
		</div>
	</body>
</html>
