<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Interner Fehler - Komplett normale Busliste</title>
		<link href="static/style.css" rel="stylesheet"/>
	</head>
	<body>
		<h1>Interner Fehler</h1>
		<p>Tut mir leid, {{error}}. Bitte kontaktiere die administrierende Person dieser Liste und sag dieser, wann genau du diese Nachricht siehst.</p>
	</body>
</html>
