<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Superuser panel - Komplett normale Busliste</title>
		<link href="/static/style.css" rel="stylesheet"/>
	</head>
	<body>
		<h1>Superuser panel</h1>
		{{#if flash}}
			<p class="flash">{{flash}}</p>
		{{/if}}

		<a href="/person">
			<div class="functionality-section">
				<h2>Persons</h2>
				<p>Modify person data shown on the list, add new users and introspect their registrations.</p>
			</div>
		</a>

		<a href="/registrations">
			<div class="functionality-section">
				<h2>Registrations</h2>
				<p>Look at all registrations in a certain time period.</p>
			</div>
		</a>

		<a href="/drives">
			<div class="functionality-section">
				<h2>Drives</h2>
				<p>List registrations for past and future drives, add and delete them.</p>
			</div>
		</a>

		<a href="/">
			<div class="functionality-section">
				<h2>Register yourself for existing drives</h2>
				<p>Because you're a "superuser" (a user who is allowed to do administrative actions), you probably won't use the registration options below for yourself at all. They're still there in case you need them.</p>
			</div>
		</a>
	</body>
</html>
